.aboutText {
	@include rem-fallback(margin-bottom, 4rem);
	text-align: center;
	h3 {
		@include rem-fallback(margin-bottom, 0.2rem);
		color: $blue;
	}
}

.aboutSlider {
	.slides {
		padding-right: 8px;
	}
	.flex-control-thumbs {
		margin-top: 8px;
		> li {
			padding-right: 8px;
		}
	}
}

.aboutLogo {
	display: block;
	margin: 0 auto;
	@include rem-fallback(margin-bottom, 3rem);
}