.archiveGroup {
	@include clearfix;
}

.archiveListing {
	display: inline-block;
	width: 21%;
	@media (min-width: 620px) {
		&:nth-of-type(4n) {
			margin-right: 0;
		}
		margin-right: 5.3%;
	}
	@include bp(sapling) {
		width: 29%;
		&:nth-child(3n) {
			margin-right: 0;
		}
	}
	@media (min-width: 481px) and (max-width: 619px) {
		margin-right: 6.3%;
	}
	@include bp(sprout) {
		width: 45%;
		margin-right: 10%;
		&:nth-child(3n) {
			margin-right: 10%;
		}
		&:nth-child(2n) {
			margin-right: 0;
		}
	}
	height: 200px;
	float: left;
	margin-right: 4%;
	margin-bottom: 20px;
	clear: right; //?
}