//----------Variables
$lineHeight: 1.6;
$black: #000;
$blue: #154BF9;
$mobileNavWidth: 13.6875rem;

$slideTransition: 0.3s;

//----------REM Fallback mixin
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@mixin rem-fallback($property, $values...) {
  $max: length($values);
  $pxValues: '';
  $remValues: '';

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $pxValues: #{$pxValues + $value*16}px;

    @if $i < $max {
      $pxValues: #{$pxValues + " "};
    }
  } 

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $remValues: #{$remValues + $value}rem;

    @if $i < $max {
      $remValues: #{$remValues + " "};
    }
  } 
  
  #{$property}: $pxValues; 
  #{$property}: $remValues; 
}

//----------Media Queries
@mixin bp($point) {
  @if $point == tree {
    @media (max-width: 900px) { @content; }
  }
  @else if $point == sapling {
    @media (max-width: 620px) { @content; }
  }
  @else if $point == seedling {
    @media (max-width: 560px) { @content; }
  }
  @else if $point == sprout {
    @media (max-width: 480px) { @content; }
  }
  @else if $point == seed {
    @media (max-width: 380px) { @content; }
  }
  @else if $point == full {
    @media (min-width: 860px) { @content; }
  }
}

@mixin clearfix {
  &:after {
    content:"";
    display:table;
    clear:both;
  }
}