.commentsArea {
	clear: both;
}

//---------- Comment Form Styles
.comment-respond {
	max-width: 80%;
	.required {
		color: red;
	}
	p > label {
		width: 100px;
		display: inline-block;
	}

	input {
		max-width: 95%;
	}

	textarea {
		width: 100%;
		@include rem-fallback(margin-top, 0.8rem);
	}

	.form-submit {
		text-align: right;
	}
}

//----------Comments Thread
.comments {
	@include rem-fallback(margin, 3rem, 0);
	list-style: none;
	.comment {
		@include rem-fallback(margin-bottom, 2rem);
		.vcard {
			img {
				@include rem-fallback(margin-right, 1rem);
			}
		}
		.comment-metadata {
			@include rem-fallback(margin-left, 3.2rem);
		}
		.comment-content {
			@include rem-fallback(margin-left, 3.2rem);
		}
	}
}