.siteFooter {
	@include clearfix;
	@include rem-fallback(padding, 0.8rem, 0, 0.3rem, 0);
	background: #E2E2E2;
	p {
		@include bp(tree) {
			float: none;
			text-align: center;
		}
		float: left;
		margin: 0;
	}
	.footerSocial {
		@include bp(tree) {
			@include rem-fallback(margin-top, 0.5rem);
			float: none;
			text-align: center;
		}
		float: right;
		font-size: 1.4rem;
		a {
			@include rem-fallback(margin-right, 0.6rem);
		}
	}
}