.container {
	@include rem-fallback(max-width, 70rem);
	@include rem-fallback(padding, 0, 1rem);
	@include clearfix;
	@include bp(tree) {
		@include rem-fallback(padding, 0, 1rem);
	}
	margin: 0 auto;
}

.grid {
	@include clearfix;
		.error404 & {
		@include rem-fallback(min-height, 42.1875rem);
	}
}

.col {
	@include rem-fallback(padding-right, 1rem);
	@include bp(tree) {
		padding-right: 0;
	}
	float: left;
	&:last-child {
		padding-right: 0;
	}
}

.col-2-3 {
	@include bp(tree) {
		width: 100%;
	}
	width: 66%;
}

.col-1-3 {
	width: 33%;
}

.col-1-4 {
	width: 25%;
}

.col-3-4 {
	width: 75%;
}