.siteHeader {
	@include rem-fallback(padding, 0, 1rem, 0, 1rem);
	@include clearfix;
	@include bp(tree) {
	@include rem-fallback(padding, 0);
	}
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	background: #EFEFEF;
	.admin-bar & {
		margin-top: 32px; //clear admin bar when logged in
		@media (max-width: 783px) {
			margin-top: 46px; //admin bar gets fatter
		}
	}

//----------Main site nav styles
	.mainNav {
		@include rem-fallback(width, 30rem);
		@include bp(tree) {
			display: none;
		}
		float: left;
		ul {
			margin: 0;
			padding: 0;
		}
		li {
			float: left;
		}
		a {
			@include rem-fallback(padding, 0.9rem, 1.5rem);
			display: block;
			height: 54px;
			transition: background 0.2s ease;
			&:hover {
				background: #000222;
				color: white;
			}
		}
	}
}

//----------Active Menu States
.page-template-about-php .mainNav .about > a {
	background: #000222;
	color: white;
}
.page-template-beauty-php .mainNav .beauty > a {
	background: #000222;
	color: white;
}
.page-template-travel-php .mainNav .travel > a {
	background: #000222;
	color: white;
}
.page-template-outfits-php .mainNav .outfits > a {
	background: #000222;
	color: white;
}
.page-template-archives-php .mainNav .archives > a {
	background: #000222;
	color: white;
}

//---------- Social Links
.headerSocial {
	@include rem-fallback(margin-top, 0.7rem);
	float: right;
	font-size: 1.4rem;
	.hideSeed {
		@include bp(seed) {
			display: none;
		}
	}
	a {
		@include rem-fallback(margin-right, 0.6rem);
		&:last-of-type {
			margin: 0;
		}
	}
}

//---------- Fixed Header
.fixedHeader {
	z-index: 5;
	background: rgba(#EFEFEF, 0.9);
	transition: top 0.3s ease,
													transform 0.35s ease;
}

.slideIn {
	top: 0; // Animate header in/out
}

.slideOut {
	top: -60px;
}

.siteWrap > .container {
	padding-top: 54px; // Stop jump with heder height margin
}

//----------Site Logo
.siteLogo {
	@include rem-fallback(padding-top, 1rem);
	text-align: center;
	h1 {
		margin: 0;
	}
}

//----------Mobile Menu Toggle
.menuToggle {
	@include bp(tree) {
	@include rem-fallback(margin-right, 1rem);
	display: block;
	line-height: 1.5;
	}
	position: relative;
	top: 5px;
	display: none;
	float: left;
	color: black;
	font-size: 2rem;
}

//----------Fixed Header Logo
.logoBox {
	float: left;
	background: #000222;
	height: 54px;
}

.logoSM {
	height: 47px !important;
}

//----------Recent Posts
.recentPosts {
	margin: 0 auto 50px;
	@media (max-width:1200px) {
		width: 90%;
	}


	.owl-item {
		height: 200px;
		text-align: center;
		> div {
				margin: 0 auto;
			position: relative;
			padding-right: 4px;
			max-width: 200px;
		}
	}

	.owl-controls {
		position: absolute;
		top: 19%;
		width: 100%;
		.owl-buttons div {
			position: absolute;
			padding: 0;
			width: 36px;
			height: 44px;
		}

		.owl-next {
			right: -50px;
			@media (max-width:1200px) {
				right: -38px;
			}
			background: url('../img/arrRight.png') center center no-repeat;
		}
		.owl-prev {
			left: -50px;
			@media (max-width:1200px) {
				left: -38px;
			}
			background: url('../img/arrLeft.png') center center no-repeat;
		}

	}
//----------Image Overlays
	.flex-caption {
		@include rem-fallback(font-size, 0.75rem);
		position: absolute;
		bottom: 0;
		margin-bottom: 0;
		padding-top: 5%;
		width: 100%;
		height: 42%;
		background: rgba(white, 0.6);
		text-align: center;
	}
}