.slideNav {
	@include clearfix;
	@include bp(tree) {
		display: block;
	}
	@include rem-fallback(padding-bottom, 1.5rem);
	position: fixed;
	top: 0;
	display: none;
	height: 100%;
	overflow-y: auto;

	opacity: 0;
	transition: opacity $slideTransition ease;

	.slideNavActive & {
		opacity: 1;
		border-right: 1px solid black;
	}

	.mobileNav {
		clear: both;
		> ul {
			@include rem-fallback(padding-left, 1rem);
		}
	}

	.logo {
		@include rem-fallback(width, $mobileNavWidth);
		@include rem-fallback(padding-top, 1.5rem);
		background: white;
	}

	.search-form {
		text-align: center;
		input[type="search"] {
			@include rem-fallback(max-width, 11.1875rem);
		}
	}
}

.slideNavActive {
	overflow: hidden;
}

.slideNavActive .siteWrap {
	left: 220px;
}

.slideNavOverlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
}

.slideNavActive .slideNavOverlay {
	display: block;
}

.slideNavActive .fixedHeader {
	transform: translateX(220px);
}

.siteWrap {
	position: relative;
	left: 0;
	transition: left $slideTransition ease;
}

.mobileNav {
	li {
		@include rem-fallback(padding, 0.3rem, 0);
	}
}

.slideSocial {
	@include rem-fallback(margin-top, 0.8rem);
	@include rem-fallback(font-size, 1.5rem);
	@include rem-fallback(padding-left, 0.4rem);
	text-align: center;
	a {
		@include rem-fallback(margin-right, 0.4rem);
	}
}

.slideContact {
	@include rem-fallback(margin-top, 0.5rem);
	text-align: center;
	a {
		display: block;
		margin: 0 auto;
		@include rem-fallback(margin-top, 0.5rem);
		width: 100px;
		border: 3px solid #D8D8D8;
		background: white;
		&:hover {
			color: inherit;
		}
	}
}