//----------Homepage Posts

.home article,
.category article {
	@include rem-fallback(margin-bottom, 3rem);
}

.homePost{

	.postDate {
			@include rem-fallback(margin-bottom, 1.5rem);
			@include rem-fallback(padding, 0, 1.5rem);
			@include body-font;
			display: inline-block;
			background: $black;
			color: white;
			text-align: center;
			font-weight: bold;
			white-space: nowrap;
		}

	.featuredImage {
		@include bp(full) {
		@include rem-fallback(min-height, 29rem);
		@include header-font;
	}
		display: inline-block;
		max-width: 100%;
		position: relative;

		.postTitle {
			@include rem-fallback(padding, 0.5rem, 0.5rem, 0.5rem, 1.5rem);
			@include bp(seedling) {
				bottom: 30%;
			}
			@include rem-fallback(font-size, 2rem);
			line-height: 1.3;
			@include bp(sapling) {
				@include rem-fallback(font-size, 1.6rem);
			}
			@include bp(sprout) {
				@include rem-fallback(font-size, 1.4rem);
			}
			max-width: 60%;
			position: absolute;
			right: 0;
			bottom: 13.5%;
			margin: 0;
			background: white;
			background: rgba(white, 0.7);
			text-align: right;
		}

		.details {
			@include rem-fallback(padding, 0, 0.5rem, 0, 2rem);
			position: absolute;
			right: 0;
			bottom: 2%;
			background: white;
			background: rgba(white, 0.7);
			@include body-font;

			i {
				@include rem-fallback(font-size, 1.5rem);
				position: relative;
				top: 5px;
			}
		}
	}
}

//----------General Posts
.blogPost {
	@include rem-fallback(padding-bottom, 2.5rem);
	border-bottom: 1px solid #E2E2E2;
	text-align: center;
	&:last-of-type {
		border-bottom: none;
	}

	.postDate {
		@include rem-fallback(font-size, 1.4rem);
		@include bp(seedling) {
			@include rem-fallback(font-size, 1.1rem);
		}
		@include rem-fallback(padding, 0, 1.5rem);
		@include body-font;
		display: inline-block;
		background: $black;
		color: white;
		text-align: center;
		font-weight: bold;
		white-space: nowrap;
		}

		.postTitle {
			@include header-font;
		}

	.postSocial {
		@include rem-fallback(margin-top, 1rem);
		@include rem-fallback(font-size, 1.4rem);
		text-align: center;

		a {
			@include rem-fallback(margin-right, 0.6rem);
			&:last-child {
				margin-right: 0;
			}
		}
	}
}

//----------Clothing Item listing
.clothingItem {
	@include rem-fallback(padding, 0, .3125rem);
	border-right: 1px solid black;
	display: inline-block;
	&:last-of-type {
		border: none;
		}
}

.clothingListing {
	@include rem-fallback(margin, 0.8rem, 0);
}

//----------Post Navigation
.postNavigation {
	@include clearfix;
	@include rem-fallback(margin, 1rem, 0, 3rem);
	.nextPost {
		float: right;
	}
	.prevPost {
		float: left;
	}
}

//----------Related Posts

.yarpp-related {
	width: 100%;
	@include rem-fallback(margin-bottom, 3.125rem);
	@include clearfix;
	margin: 0 auto;
}

.relatedPost {
	float: left;
	padding-right: 5px;
	width: 25%;
	@include bp(seedling) {
		width: 50%;
		height: 15.625rem;
	}
	a {
		display: inline-block;
	}
	img {
		display: block;
		margin: 0 auto;
	}
}