.search {
	.content {
		@include rem-fallback(min-height, 60rem);
	}
	h2 {
		margin-top: 0;
		@include rem-fallback(font-size, 2.5rem);
	}
	h3 {
		margin-top: 0;
	}
}

.searchResult {
	clear: both;
	@include rem-fallback(margin-bottom, 2rem);
	@include clearfix;
	.resultImage {
		@include rem-fallback(padding-right, 0.8rem);
		@include bp(sprout) {
			display: none;
		}
	}
	.resultExcerpt {
		p {
			text-align: left !important;
		}
		@include bp(sprout) {
			width: 100%;
		}
	}
	.details {
		float: right;
		@include rem-fallback(padding, 0, 1rem);
		color: white;
		background: black;
		&:hover {
			color: white;
		}
		span {
			position: relative;
			top: 2px;
		}
	}
}