.sidebar {
	@include rem-fallback(margin-left, 3.125rem);
	@include bp(tree) {
		display: none;
	}
	h3 {
		@include body-font;
		clear: both;
		margin-top: 0;
		border: 1px solid #D2D2D8;
		background: $black;
		color: white;
		text-align: center;
		text-transform: uppercase;
	}

	.instagram {
		@include rem-fallback(margin-bottom, 1rem);
		@include bp(full) {
		@include rem-fallback(min-height, 15.3125rem);
	}
		text-align: center;

		img {
			@include rem-fallback(max-width, 7.8125rem);
			@include rem-fallback(margin-right, .3125rem);
			@media (max-width: 1076px) {
				@include rem-fallback(max-width, 6.15rem);
			}
		}
	}

	.contact {
		text-align: center;
	}

	.emailMe {
		font-weight: bold;
		@include rem-fallback(margin-top, 1rem);
	}

	.search {
		@include rem-fallback(margin-top, 1rem);
		text-align: center;
	}

	input[type="search"] {
			width: 78%;
		}

}