//----------Font Declarations

@font-face {
  font-family: 'Bodoni';
  src: url('../fonts/bodoni.eot'); /* IE9 Compat Modes */
  src: url('../fonts/bodoni.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/bodoni.woff') format('woff'), /* Modern Browsers */
       url('../fonts/bodoni.ttf')  format('truetype');
}

@mixin body-font {
	font-family: "brandon-grotesque",sans-serif;
}

@mixin header-font {
	text-transform: uppercase;
	font-family: 'Bodoni', sans-serif;
}

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?i9vihv');
	src:url('../fonts/icomoon.eot?#iefixi9vihv') format('embedded-opentype'),
		url('../fonts/icomoon.woff?i9vihv') format('woff'),
		url('../fonts/icomoon.ttf?i9vihv') format('truetype'),
		url('../fonts/icomoon.svg?i9vihv#icomoon') format('svg');
}

[class^="icon-"], [class*=" icon-"] {
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'icomoon';
	line-height: 1;
	speak: none;
}

.icon-rss:before {
	content: "\e608";
}
.icon-instagram:before {
	content: "\e603";
}
.icon-search:before {
	content: "\e605";
}
.icon-close:before {
	content: "\e606";
}
.icon-menu:before {
	content: "\e604";
}
.icon-arrow-left:before {
	content: "\e609";
}
.icon-arrow-right:before {
	content: "\e60a";
}
.icon-twitter:before {
	content: "\e600";
}
.icon-facebook:before {
	content: "\e601";
}
.icon-googleplus:before {
	content: "\e607";
}
.icon-pinterest:before {
	content: "\e602";
}

body {
	@include body-font;
	text-rendering: optimizeLegibility;
}

body,
input,
button {	
	-webkit-font-smoothing: antialiased;
}

html {
	font-size: 100%;
	line-height: $lineHeight;
}

hr {
	@include rem-fallback(margin-top, 3rem);
	background-color: #E2E2E2;
	border: none;
	height: 1px;
}

//----------Heading Sizes

h1, .h1 {
	@include rem-fallback(font-size, 2rem);
	margin-top: 0;
}

h2, .h2 {
	@include rem-fallback(font-size, 1.5rem);
}

h3, .h3 {
	@include rem-fallback(font-size, 1.17rem);
}

h4, .h4 {
	@include rem-fallback(font-size, 1rem);
}

h5, .h5 {
	@include rem-fallback(font-size, 0.83rem);
}

h6, .h6 {
	@include rem-fallback(font-size, 0.75rem);
}

//----------Paragraphs

p {
	@include rem-fallback(margin, 0, 0, 1rem);
	line-height: $lineHeight;
}