@import "normalize";
@import "flexslider";
@import "owl-carousel";
@import "bits";
@import "typography";
@import "header";
@import "grid";
@import "mobile-nav";
@import "posts";
@import "about";
@import "sidebar";
@import "comments";
@import "search";
@import "archives";
@import "footer";

* {
	box-sizing: border-box;
}

body {
	background: #E2E2E2;
}

.siteWrap {
	background: white;
}

//----------General Link Styles

a {
	color: $black;
	text-decoration: none;
	transition: color 0.2s linear;
	&:hover {
		color: $blue;
	}
}

.content a {
	color: $blue;
	&:hover {
		color: darken($blue, 15%);
	}
}

.postSocial a,
.content .feature,
.yarpp-related a {
	color: $black;
	text-decoration: none;
	transition: color 0.2s linear;
	&:hover {
		color: $blue;
	}
}

//----------Set Nav lists
nav > ul {
	list-style: none;
}

//----------Kill Browser Input defaults

input {
	outline: none;
	outline: 0;
}

input, button {
	-webkit-appearance: none;
}

input,
textarea {
	background-color: white;
	border: 3px solid #D8D8D8;
	transition: border-color 0.3s ease;
	&:focus {
		border-color: #BBB;
	}
}
.btn, input[type="submit"] {
	transition: border-color 0.3s ease;
	&:hover {
		border-color: #BBB;
	}
}

textarea:focus {
	outline: 0;
	outline: none;
}


.search-submit {
	@include rem-fallback(width, 2.1875rem);
	padding: 1px 0;
	background: url('../img/search.png') #fff center no-repeat;
}

//----------Fluid Images

img {
	max-width: 100%;
	height: auto !important;
}